* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
    height:100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-image: url("https://static.stereogum.com/uploads/2020/05/run-the-jewels-rtj4-1589298938.jpeg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 40vw;
    border:3px solid black;
}

.headerimg {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}
.nav > a {
    border: 1px solid white;
    flex: 1;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a:hover {
    background-color: red;
    color:black;
}

.welcometext {
    font-size: 10rem;
    width: 100%;
    margin-top: 200px;
    color: white;
    text-align: center;
    text-shadow: 4px 2px 10px rgb(0, 0, 0);
}

.dropdown-content a {
    border: 1px solid white;
    flex: 1;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown {
    float: left;
    overflow: visible;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .show {
    display: flex;
  }